@inherits LayoutComponentBase

<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<style>
    .page
    {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
</style>

<MudLayout class="page">
    <main>
        @Body
    </main>
</MudLayout>